* {
  margin: 0;
  padding: 0;
}

:root {
  --electric-violet-50: #fbf4ff;
  --electric-violet-100: #f5e5ff;
  --electric-violet-200: #ecd0ff;
  --electric-violet-300: #ddaaff;
  --electric-violet-400: #c974ff;
  --electric-violet-500: #b540ff;
  --electric-violet-600: #a31bff;
  --electric-violet-700: #870bda;
  --electric-violet-800: #780fba;
  --electric-violet-900: #630e95;
  --electric-violet-1000: rgb(47, 6, 70);
}

body,
html {
  background-color: var(--electric-violet-1000);
}

.dashboard {
  width: 80vw;
  min-height: 100vh;
  display: grid;
  margin: auto;
  grid-template: "sidebar header" 1fr "sidebar content" 6fr / 1fr 4fr;
}

header {
  height: minmax(350px, 1fr);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: header;
  /* position: relative; */
  z-index: 1;
  background-color: var(--electric-violet-50);
  color: var(--electric-violet-900);
  font-weight: bold;
  font-size: 1.5rem;
  padding: 20px;
  box-shadow: 2px 2px 8px var(--electric-violet-1000);
}

.upper-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  display: flex;
  width: 60%;
  height: min-content;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 20px;
  margin: 0 15px;
  border: none;
  background-color: var(--electric-violet-300);
}

.search-bar + img {
  margin-left: auto;
}

.upper-header-right {
  display: flex;
  align-items: center;
}

.upper-header-right > * {
  margin-right: 20px;
  height: min-content;
  font-weight: bold;
  font-size: 1.7rem;
}

.lower-header {
  display: flex;
  align-items: center;
}

.buttons {
  display: flex;
  margin-left: auto;
  margin-right: 20px;
}

.buttons button {
  --clickable-space-around-button: -15px;
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  background-color: var(--electric-violet-500);
  color: var(--electric-violet-50);
  padding: 5px 15px;
  border-radius: 20px;
  width: 150px;
  margin-left: 20px;
  cursor: pointer;
}

.buttons button::after {
  content: "";
  left: calc(var(--clickable-space-around-button) + 5px);
  right: calc(var(--clickable-space-around-button) + 5px);
  bottom: var(--clickable-space-around-button);
  top: var(--clickable-space-around-button);
  position: absolute;
}

#user-image {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#user-image-lower {
  vertical-align: middle;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.sidebar {
  grid-area: sidebar;
  background-color: var(--electric-violet-700);
  padding: 50px 20px 20px 20px;
}

.sidebar-header {
  display: flex;
  color: var(--electric-violet-50);
  font-weight: bold;
  font-size: 1.7rem;
  margin-bottom: 60px;
  column-gap: 10px;
}

.item {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.bottom-item {
  margin-top: 60px;
}

.item li {
  width: 100%;
}

.item li a {
  width: 100%;
  display: block;
  line-height: 70px;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
}

.sidebar ul li {
  list-style: none;
}

.sidebar a {
  color: var(--electric-violet-50);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
}

.content {
  padding: 40px;
  grid-area: content;
  background-color: var(--electric-violet-300);
  display: grid;
  gap: 15px;
  grid-template:
    ". ." 30px
    "projects announcements" minmax(800px, auto)
    "projects ." 30px
    "projects trending" auto / 2fr 1fr;
}
.content > h2 {
  font-size: 1.7rem;
  color: var(--electric-violet-1000);
}

.projects {
  grid-area: projects;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  grid-auto-rows: 250px;
}

.projects div ~ {
  display: grid;
}

.card {
  background-color: var(--electric-violet-50);
  box-shadow: 2px 2px 8px var(--electric-violet-1000);
  border-radius: 7px;
  display: grid;
  row-gap: 5px;
  column-gap: 20px;
  row-gap: 10px;
  grid-template: "stripe title title title" 60px "stripe text text text" 4fr "stripe . . buttons" 60px / 10px auto auto auto;
}

.card-stripe {
  grid-area: stripe;
  background-color: var(--electric-violet-700);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.card h2 {
  display: grid;
  grid-area: title;
  align-items: flex-end;
}

.card p {
  grid-area: text;
  overflow: auto;
}

.card-buttons {
  justify-self: flex-end;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-area: buttons;
  grid-column: 2 / span 3;
  place-items: flex-start center;
  cursor: pointer;
}

.announcements {
  grid-area: announcements;
  background-color: var(--electric-violet-50);
  box-shadow: 2px 2px 8px var(--electric-violet-1000);
  border-radius: 7px;
  padding: 30px;
}

.announcements-topic {
  border-bottom: 5px outset rgb(47, 6, 70, 0.5);
  padding-bottom: 20px;
  margin-bottom: 15px;
}

.announcements-topic h2 {
  margin-bottom: 10px;
}

.trending {
  max-height: 490px;
  grid-area: trending;
  background-color: var(--electric-violet-50);
  box-shadow: 2px 2px 8px var(--electric-violet-1000);
  border-radius: 7px;
  padding: 30px;
}

.trending-item {
  margin-bottom: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.trending-item div h2 {
  margin-bottom: 5px;
}

.trending-item img {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
